@font-face {
  font-family: "iconfont"; /* Project id 2646136 */
  src: url('iconfont.woff2?t=1625134851491') format('woff2'),
       url('iconfont.woff?t=1625134851491') format('woff'),
       url('iconfont.ttf?t=1625134851491') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dashboard:before {
  content: "\e6ea";
}

.icon-fenxiang:before {
  content: "\e606";
}

.icon-form:before {
  content: "\e731";
}

.icon-nested:before {
  content: "\e636";
}

.icon-example:before {
  content: "\e600";
}

