//多行省略号
@mixin text-lines($lineNum) {
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineNum;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

//单行省略号兼容ie
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}