.app-aside {
  background-color: $--menu-background-color;
  &.el-aside {
    width: 54px!important;
    display: flex;
    flex-direction: column;
  }

  .iconfont {
    margin-right: 4px;
    transition: color .3s;
  }

  .el-submenu {
    .el-menu,
    :not(.is-active) {
      .el-submenu__title,
      &.el-menu-item {
        background-color: #0c2135;
      }
    }
  }

  .el-menu-item {
    height: 50px;
    line-height: 50px;
  }

  .el-menu--collapse {
    .el-menu-item .el-submenu__icon-arrow,
    .el-submenu .el-submenu__title .el-submenu__icon-arrow,
    .menu-item__title {
      display: none;
    }
  }

  .el-scrollbar {
    flex: 1;
    &__wrap {
      overflow-x: hidden;
    }
  }
}

.sidebar--opened {
  .el-aside {
    width: 210px!important;
  }
}

.menu-item__title {
  padding-left: 4px;
}

.el-menu {
  border-right: 0;
}

.el-submenu {
  &.is-active,
  .is-active {
    > .el-submenu__title,
    > .el-submenu__title i {
      color: $--color-white;
    }
  }
  .el-submenu__title:hover,
  .el-submenu__title:hover i {
    color: $--color-white;
  }
}

.el-menu-item {
  &:hover,
  &:hover i {
    color: $--color-white;
  }
  &.is-active,
  &.is-active:hover {
    color: $--color-white;
    background-color: $--color-primary;
  }
}